@media (min-width: 1020px) {
  html {
    font-size: clamp(16px, 1vw, 20px);
  }
  .nav {
    width: 40%;
    transform: translate(75%);
  }
  .nav .navigate {
    gap: 25px;
  }
  .nav .navigate .navs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .nav .navigate .navs h2 {
    color: wheat;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
  }
  .nav .navigate .dropmenu {
    display: none;
  }
  .view-1 img {
    width: 28%;
  }
  .view-1 h1,
  .view-1 i {
    font-size: 5rem;
    font-weight: 200;
  }
  .view-1 p {
    font-size: 1.25rem;
  }
  .view-1 p br {
    display: block;
  }
  .view-1 .service-button button {
    display: none;
  }
  .view-1 .service-button button.web {
    display: inline;
    border-radius: 50%;
    border: 1px solid wheat;
    outline: none;
    color: wheat;
    background-color: transparent;
    margin: 3vw 0;
    font-weight: 900;
    padding: 1rem 1.5rem;
  }
  .view-2 .marquee .logos img {
    width: 200px;
  }
  .view-3 .card-container {
    gap: 40px;
  }
  .view-3 .card-container .card {
    width: 30%;
    padding: 2rem 2rem;
  }
  .view-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 1rem;
  }
  .view-4 .section-head {
    padding: 1rem 7rem;
  }
  .view-4 .section-head h1 {
    text-align: left;
    font-size: 2rem;
  }
  .view-4 .section-head .button-about {
    display: flex;
  }
  .view-4 .img-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }
  .view-4 .img-container .img-head {
    width: 45%;
  }
  .view-4 .img-container .img-head img {
    width: 100%;
  }
  .view-5 .view-5-head h1 {
    font-size: 5rem;
    font-weight: 200;
  }
  .view-5 p {
    font-size: 1.2rem;
  }
  .view-5 button {
    padding: 0.5vw 1vw;
  }
  .view-6 .card-left {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin: 0;
  }
  .view-6 .card-left .step {
    width: 40vw;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #212121;
    color: wheat;
  }
  .view-6 .card-left .step p {
    color: antiquewhite;
  }
  .view-6 .card-left .step h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
  }
  .view-6 .card-left .step ul {
    padding: 0.5rem 1.5rem;
  }
  .view-6 .card-left .step ul li {
    font-weight: 200;
  }
  .view-6 .card-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    margin: 0;
  }
  .view-6 .card-right .step {
    width: 40vw;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #212121;
    color: wheat;
  }
  .view-6 .card-right .step p {
    color: antiquewhite;
  }
  .view-6 .card-right .step h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
  }
  .view-6 .card-right .step ul {
    padding: 0.5rem 1.5rem;
  }
  .view-6 .card-right .step ul li {
    font-weight: 200;
  }
  .view-6 .timeline {
    width: 1px;
    height: 100%;
    background-color: wheat;
    position: absolute;
    left: 50%;
  }
  .view-6 .timeline .circle {
    width: 50px;
    height: 50px;
    color: wheat;
    background-color: black;
    border-radius: 50%;
    padding: 1rem;
  }
  .view-7 .comment-head {
    margin: 5vw 2vw;
  }
  .view-7 .comment-head h1:nth-child(1) {
    font-size: 5rem;
    text-align: center;
  }
  .view-7 .comment-head h1:nth-child(2) {
    font-size: 5rem;
    text-align: center;
  }
  .view-7 .comment-head p {
    font-size: 1.25rem;
  }
  .view-7 .comment-head p br {
    display: inline;
  }
  .view-7 .comment-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5vw;
  }
  .view-7 .comment-container .comment {
    width: 40vw;
  }
  .view-8 {
    padding: 2rem 0;
  }
  .view-8 .image-head {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 0;
  }
  .view-8 .image-head h1.Andersson {
    display: block;
  }
  .view-8 .image-head h1 {
    font-size: 6rem;
    text-align: left;
  }
  .view-8 .image-head img {
    width: 40%;
  }
  .view-8 .bottom-info {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .view-8 .bottom-info h2 {
    font-size: 2rem;
    text-align: center;
    transform: translate(50%);
  }
  .view-8 .bottom-info h2 br {
    display: inline;
  }
  .view-8 .bottom-info .info-social {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2rem;
  }
  .view-8 .bottom-info .info-social p {
    text-align: left;
  }
  .view-9 .foot-head {
    padding: 7rem 0;
  }
  .view-9 .foot-head h3 {
    text-transform: uppercase;
    color: wheat;
    font-weight: 200;
    text-align: center;
  }
  .view-9 .foot-head h1:nth-child(2) {
    color: wheat;
    font-size: 7rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
  }
  .view-9 .foot-head h1:nth-child(3) {
    font-family: "Times New Roman", Times, serif;
    color: wheat;
    font-size: 7rem;
    text-align: center;
  }
  .view-9 .foot-head p {
    color: wheat;
    text-align: center;
    padding: 1rem 2rem;
  }
  .view-9 .foot-head p br {
    display: block;
  }
  .footer {
    flex-wrap: nowrap;
    align-items: first baseline;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
  }
  .footer .uppercolumns {
    flex-wrap: nowrap;
    align-items: first baseline;
    justify-content: flex-start;
  }
  .footer .foot {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer .foot h2 {
    font-size: 1.25rem;
    font-weight: 300;
    color: #d5c3a7;
  }
}/*# sourceMappingURL=styleresp.css.map */